In [1]:
import pandas as pd
import numpy as np

In [2]:
df_2007 = pd.read_parquet('../data/y2007')

In [3]:
df_2007

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
79705,192239,NaN,20000.0,20000.0,225.00,36 months,11.22,656.86,C,C4,...,NaN,NaN,Cash,N,None,None,None,NaN,NaN,NaN
79707,191006,NaN,7500.0,7500.0,1167.14,36 months,10.59,244.09,C,C2,...,NaN,NaN,Cash,N,None,None,None,NaN,NaN,NaN
79709,190811,NaN,2000.0,2000.0,1861.08,36 months,7.75,62.45,A,A3,...,NaN,NaN,Cash,N,None,None,None,NaN,NaN,NaN
79710,189379,NaN,2800.0,2800.0,1100.00,36 months,7.43,87.01,A,A2,...,NaN,NaN,Cash,N,None,None,None,NaN,NaN,NaN
79711,188937,NaN,8000.0,8000.0,2475.00,36 months,8.07,250.95,A,A4,...,NaN,NaN,Cash,N,None,None,None,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2230,73582,NaN,3500.0,3500.0,225.00,36 months,10.28,113.39,C,C1,...,NaN,NaN,Cash,N,None,None,None,NaN,NaN,NaN
2231,72998,NaN,1000.0,1000.0,0.00,36 months,9.64,32.11,B,B4,...,NaN,NaN,Cash,N,None,None,None,NaN,NaN,NaN
2232,72176,NaN,2525.0,2525.0,225.00,36 months,9.33,80.69,B,B3,...,NaN,NaN,Cash,N,None,None,None,NaN,NaN,NaN
2233,71623,NaN,6500.0,6500.0,0.00,36 months,8.38,204.84,A,A5,...,NaN,NaN,Cash,N,None,None,None,NaN,NaN,NaN
2234,70686,NaN,5000.0,5000.0,0.00,36 months,7.75,156.11,A,A3,...,NaN,NaN,Cash,N,None,None,None,NaN,NaN,NaN