## Import Lending Club package

In [1]:
import pandas as pd
import numpy as np

import sys
sys.path.append('../lending_club') # path the the directory
import config

In [2]:
accepted_loans = pd.read_parquet(config.DATAPATH / 'approved.parquet', engine='fastparquet')

In [3]:
from model_prep import divide_by_term
accepted_36 = divide_by_term(accepted_loans,36)
accepted_60 = divide_by_term(accepted_loans,60)

In [5]:
vc_36 = accepted_36.loan_status.value_counts()
vc_36_pct = vc_36/vc_36.sum()
pd.concat([vc_36,vc_36_pct],axis=1)

   loan_status  loan_status
1       528884     0.862611
0        84236     0.137389

In [6]:
vc_60 = accepted_60.loan_status.value_counts()
vc_60_pct = vc_60/vc_60.sum()
pd.concat([vc_60,vc_60_pct],axis=1)

   loan_status  loan_status
1        36525     0.764393
0        11258     0.235607