## Import Base Python Libraries

In [1]:
import pandas as pd
import numpy as np

## Import Lending Club package

In [2]:
import sys
sys.path.append('../lending_club')
import config

## Get Lending Club Approved Loan Data

In [3]:
from data_prep import get_lending_club_data
accepted_loans = get_lending_club_data(config.APPROVED_LOANS_CSV)

## Split the File by Year

In [4]:
from data_prep import split_file_by_year
split_file_by_year(accepted_loans)

## Access a Single File

In [5]:
accepted_2014 = pd.read_parquet('../data/accepted-2014.parquet', engine='fastparquet')
accepted_2014.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,Year
__null_dask_index__,,,,,,,,,,,,,,,,,,,,,
69342,36805548,NaN,10400.0,10400.0,10400.0,36 months,6.99,321.08,A,A3,...,NaN,Cash,N,None,None,None,NaN,NaN,NaN,2014
69343,38098114,NaN,15000.0,15000.0,15000.0,60 months,12.39,336.64,C,C1,...,NaN,Cash,N,None,None,None,NaN,NaN,NaN,2014
69344,37822187,NaN,9600.0,9600.0,9600.0,36 months,13.66,326.53,C,C3,...,NaN,Cash,N,None,None,None,NaN,NaN,NaN,2014
69345,37662224,NaN,7650.0,7650.0,7650.0,36 months,13.66,260.20,C,C3,...,NaN,Cash,N,None,None,None,NaN,NaN,NaN,2014
69346,37612354,NaN,12800.0,12800.0,12800.0,60 months,17.14,319.08,D,D4,...,NaN,Cash,N,None,None,None,NaN,NaN,NaN,2014

In [6]:
accepted_2014.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 235629 entries, 69342 to 34727
Columns: 152 entries, id to Year
dtypes: datetime64[ns](1), float64(113), int64(1), object(37)
memory usage: 275.0+ MB

In [7]:
accepted_2014.shape

(235629, 152)